/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.mat-typography {
  background: #e5e5e5;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

html,
body {
  height: 100%;
}

.v-middle {
  vertical-align: center;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}
