<div class="container mat-elevation-z8">
    <h1 class="fullWidth">Vizualização do Chamado</h1>

    <form class="form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Título do Chamado</mat-label>
          <input [disabled]="true" [(ngModel)]="chamado.titulo" name="titulo" matInput>
        </mat-form-field>
    </form>

    <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [disabled]="true" [(ngModel)]="chamado.status" name="status">
              <mat-option value="0">Aberto</mat-option>
              <mat-option value="1">Em Andamento</mat-option>
              <mat-option value="2">Encerrado</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Propriedade</mat-label>
            <mat-select [disabled]="true" [(ngModel)]="chamado.prioridade" name="prioridade">
              <mat-option value="0">Baixa</mat-option>
              <mat-option value="1">Média</mat-option>
              <mat-option value="2">Alta</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="tecnico">
        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Técnico</mat-label>
            <mat-select [disabled]="true" [(ngModel)]="chamado.tecnico" name="tecnico">
              <mat-option>{{ chamado.tecnico }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="cliente">
        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Cliente</mat-label>
            <mat-select [disabled]="true" [(ngModel)]="chamado.cliente" name="cliente">
              <mat-option>{{ chamado.cliente }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form class="form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Deixe uma Descrição</mat-label>
          <textarea [disabled]="true" [(ngModel)]="chamado.descricao" name="descricao" class="descricao" matInput></textarea>
        </mat-form-field>
    </form>

    <button routerLink="../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Voltar</button>
</div>