.container {
  background-color: #375f24;
}

.div-not-found {
  height: 700px;
  width: 60%;
  min-width: 770px;
  background-color: #fff;
  border-radius: 8px;
}

.div-esqueda {
  margin-right: 150px;
}

.img-not-found {
  height: 148px;
  width: 380px;
  min-width: 60px;
  padding: 39px 0 0 0;
}

.img {
  height: 330px;
  width: 240px;
  min-width: 60px;
}

.area-titulo {
  padding-top: 10px;
  padding-bottom: 35px;
}

.titulo {
  font-weight: 700;
  font-size: 60px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #f4c118;
}

.subtitulo {
  padding-top: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #9fa2b4;
}
.div-back-home {
  margin-top: 100px;
}

.div-back-home a {
  color: black;
  font-size: 20px;
}
