<div
  class="container min-h-screen min-w-min flex justify-content-center align-items-center"
>
  <div class="div-not-found flex justify-content-center align-items-center">
    <div class="div-esqueda">
      <div class="img-not-found flex align-items-center">
        <img
          class="img"
          src="/assets/img/jubileu.png"
          alt="Voce disse pipoca..."
        />
      </div>
    </div>
    <div class="div-direita">
      <div class="area-titulo flex flex-column align-items-center">
        <span class="titulo">404 Not Found</span>
        <span class="subtitulo">Ain't nothin' but a mistake!!</span>
      </div>
      <div class="div-back-home flex flex-column align-items-center">
        <a routerLink="/home">Voltar para login</a>
      </div>
    </div>
  </div>
</div>
