.container {
    height: 100%;
}

.sidenav {
    width: 12rem;
    color: white;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(254,79,44,1) 26%);
}

.sidenav a {
    color: white;
    width: 100%;
    height: 50px;
}

.sidenav i {
    margin-right: 0.6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(254,79,44,1) 26%);
}