<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Help Desk</h1>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input 
            required
            [(ngModel)]="cad.email" 
            name="email" 
            id="email"
            matInput placeholder="Ex. ...@email.com">
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
            required
            type="password" 
            [(ngModel)]="cad.senha" 
            name="senha" 
            id="senha"
            matInput placeholder="Ex. 123">
        </mat-form-field>

        <button 
        (click)="logar()"
        [disabled]="!validaCampos()"
        class="full-width mat-elevation-z4" 
        mat-stroked-button color="primary">Login</button>

        <div class="area-signin">
            <span>Não possui Cadastro?</span>
            <a routerLink="/signup">Crie agora!</a>
        </div>
    </form>    
</div>